.idea/
*.pyc
*.pyo
build/
dist/
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
/venv
/response.json
response2.json
/assets.json
/config.json
/outs.json
/network_type.json